p {
  font-family: 'Cabin', 'sans-serif';
  color: #E4CEAA;
}

h1, h3, h4, h5, h6 {
  font-family: 'Josefin Slab';
}

h2 {
  font-family: 'Fredericka the Great';
}
/*----------- +==}=======> make the pic change by separating css files for each page*/
.site-wrapper-inner {
  background-image: url('../pics/cheeseyFood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.myButton {
  margin-top: 40px;
}

.myButton a {
  opacity: 1;
  box-shadow: -1px -1px 5px #888888;
  text-decoration: none;
}
/*-------------- +==}========>
change name of glyphs*/
.glyphs {
  height: 100px;
  width: 100px;
  background-color: #1E63C2;
  background-image: url("../pics/Grocery.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  border: solid 3px #070F19;
}
