p {
  font-family: 'Cabin', 'sans-serif';
  color: #E4CEAA;
}

h1, h3, h4, h5, h6 {
  font-family: 'Josefin Slab';
}

h2 {
  color: #AA7F39;
  font-size: 2em;
}
h2 {
  font-family: 'Fredericka the Great';
}
/*----------- +==}=======> make the pic change by separating css files for each page*/
.site-wrapper-inner {
  background-image: url('../pics/cheeseyFood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.myButton {
  margin-top: 40px;
}

.myButton a {
  color: #070F19;
  box-shadow: -1px -1px 5px #738296;
  text-decoration: none;
}

#submit {
  background-color: #1E63C2;
  color: #070F19;
  box-shadow: -1px -1px 5px #738296;
  border-radius: .5em;
  border-color: #070F19;
}

.myButton:hover a {
  box-shadow: -1px -1px 10px #738296;
}

.title-row h3 {
  margin-top: 1em;
}
.fgroup {
  padding:2%;
}
.select-fgroup-row, .name-row {

}
.fgroup div{
  margin: 1em;
}

.tt-dataset{
  min-width: 200px;
  max-height: 300px;
  overflow: scroll;
  border: solid 3px #271B08;
  border-radius: 20px;
  background-color: #E4CEAA;
  color: #271B08;
  padding: 2%;
}

.tt-dataset:hover {
  cursor: pointer;
}

.typeahead {
  min-width: 575px;
}
.tt-cursor {
  background-color: #271B08;
  color: #E4CEAA;
}
.brandDiv {
  height: 40px;
  width: 100px;
  background-color:
}
