p {
  font-family: 'Cabin', 'sans-serif';
  color: #E4CEAA;
}

h1, h3, h4, h5, h6 {
  font-family: 'Josefin Slab';
}

#foodText {
  color: #271B08;
}

#myModal h2{
  color: #271B08;
}

#myModal h3{
  color: #271B08;
}

.modal-dialog {
  max-width: 400px;
  min-width: 335px;
}

.nutriRow {
  border-bottom: dotted 1px #7B6F5B;
}

.modal-body .nutriRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-body .nutriRow .nutrientTitle{
  color: #271B08;
}

.nutriValue {
  color: #271B08;
}

h2 {
  color: #AA7F39;
  font-size: 2em;
}
h2 {
  font-family: 'Fredericka the Great';
  font-size: 3em
}
/*----------- +==}=======> make the pic change by separating css files for each page*/
.site-wrapper-inner {
  background-image: url('../pics/vegetables-on-wood.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.myButton {
  margin-top: 40px;
}

.myButton a {
  color: #070F19;
  box-shadow: -1px -1px 5px #738296;
  text-decoration: none;
}

.myButton:hover a {
  cursor: pointer;
  box-shadow: -1px -1px 10px #738296;
}

#submit {
  background-color: #1E63C2;
  color: #070F19;
  box-shadow: -1px -1px 5px #738296;
  border-radius: .5em;
  border-color: #070F19;
}

.title-row h3 {
  margin-top: 1em;
}
.fgroup {
  padding:2%;
}

.fgroup div{
  margin: 1em;
}

.nutriResults {
  background-color: #E4CEAA;
}

.tt-dataset{
  min-width: 200px;
  max-height: 300px;
  overflow: scroll;
  border: solid 3px #271B08;
  border-radius: 20px;
  background-color: #E4CEAA;
  color: #271B08;
  padding: 2%;
}

.tt-dataset:hover {
  cursor: pointer;
}

.typeahead {
  min-width: 300px;
}
.tt-cursor {
  background-color: #271B08;
  color: #E4CEAA;
}
.brandDiv {
  height: 40px;
  width: 100px;

}
@media (min-width: 768px) {


}
@media (min-width: 992px) {
    .typeahead{
      min-width: 575px;
    }
}
